<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ok</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css"  %}">
    </head>
    <script>
        function called() {
            document.getElementById('hid').innerHTML = "<em> YOU CLICKED THE IMAGE</em>";
        }
        
    </script>
    <body>
        <div class="djangoOne"> 
            <h1 id="hid">
                OK i m join
            </h1>
            {{text}}
            <img src="{% static "images/download.jpg" %}" onclick="called()">
        </div>
        <div class="djangoTwo">
            <table>
                {% if accessrecord%}
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                    {% for acc in accessrecord %}
                        <tr>
                            <td>{{acc.name}}</td>
                            <td>{{acc.date}}</td>
                        </tr>
                    {% endfor%}
                {% else %}
                    <p>No record to access</p>
                {% endif %}
            </table>
        </div>
        <!-- This is template tagging i.e instead of using just absolute path i am using relatve path -->
        <div class="container">
            <a href="{% url 'first_app:index'  %}">Path to first_app</a>
            <a href="{% url 'first_app:form_name'  %}">Path to formPage</a>
            <a href="{% url 'first_app:users'  %}">Path to users</a>
            <a href="{% url 'admin:index'  %}">Admin Page</a>
        </div>
       
    </body>
</html>